<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="container">
        <div class="left-logo">
        <img src="static/img/Unknown.png" alt="logo-left" id="img">
        </div>
        <div class="form">
            <h1>Student Login</h1>
            <form action="/login" id="all-form" method="post">
                <div class="text-field" id="form">
                    <label for="clg-id" id="ID">College Email ID</label>
                    <input type="text" name="clg-id" id="id"><br>
                </div>
                <div class="pass">
                    <label for="password" id="caption">password</label><br>
                    <input type="password" name="password" id="Pass" required><br>
                </div>
                <div class="button">
                    <input type="submit" value="Submit" id="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>